*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole di debug */
[class*="col-"] {
  height: 100%;
  border: solid 1px #000;
}

.row {
  height: 200px;
}

/* section{
  padding: 0 6%;
} */

header{
  height: 200px;
  background-color: #333
}

.start-bootstrap{
  height: 200px;
  background-color: #1ABC9C
}

.portfolio{
  background-color: white;
  height: 200px;
}

.about{
  background-color: #1ABC9C;
  height: 200px
}

.contact-me{
  background-color: white;
  height: 200px;
}

footer{
  height: 200px;
  background-color: #2c3e50
}
footer .row:last-child{
  background-color: black
}

img{
  max-width: 90px;
}
